//grid
$xs: 320px;
$md: 768px;
$xl: 1150px;
//accent colors
$accent-dark: #68273d;
$accent: #0a4d57;
$accent-light: #e5f3f1;
$text-color: #060805;
$text-light: #909090;
$contrast: #00C2FF;
$error: #ff4848;
$success: #18BC5A;
$font_1: "Comfortaa", sans-serif;
$font_2: "Eina01", sans-serif;

//media
$tablet: 1340px;