.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
  height: 4.5rem;
  font-size: 1.6rem;
  color: $text-color;
  background: linear-gradient(95.14deg, rgba(201, 201, 201, 0.2) 0%, rgba(201, 201, 201, 0.5) 53.13%, rgba(200, 200, 200, 0.2) 100%);
  border: 1px solid transparent;
  transition: all .4s;
  cursor: pointer;
  &:hover {
    border-color: black;
  }
}
