.categories-list {
	@media screen and (max-width: 768px) {
		padding: 0 2rem 3rem;
	}
	@media screen and (max-width: 576px) {
		padding-top: 0;
	}
	&__title {
		margin-bottom: 6rem;
		letter-spacing: 0.67rem !important;
		@media screen and (max-width: 768px) {
			color: white;
		}
	}
	&__right {
		display: none;
		transition: all 0.4s;
		@media screen and (max-width: 768px) {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 60px;
			height: 100%;
			background-color: $accent;
			transition: all 0.8s;
		}
		svg {
			opacity: 0;
		}
		&::after {
			content: "";
			position: absolute;
			top: 40px;
			right: 14px;
			width: 30px;
			height: 30px;
			// background-image: url('../i/static/arrow-right.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: 14;
		}
	}
	li {
		position: relative;
		margin-bottom: 3.2rem;
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			height: 1px;
			background: #e5f3f1;
			transition: all 0.4s;
		}
		&::before {
			top: 0;
			width: 13.4rem;
		}
		&::after {
			bottom: 0;
			width: 100%;
		}
		&:hover {
			&::before {
				width: 100%;
				background: #b6d2cf;
			}
			&::after {
				background: #b6d2cf;
			}
		}
	}
	a {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 7.2rem;
		width: 100%;
		height: 8.6rem;
		color: $text-color;
		transition: all 0.4s;
		@media screen and (max-width: 768px) {
			color: white;
		}
		&.active {
			background-color: rgba(white, 0.3);
			h2 {
				color: #ffffff;
				@media screen and (max-width: 768px) {
					color: $text-color;
				}
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 3.2rem;
			width: 0.6rem;
			height: 0.6rem;
			background: #e5f3f1;
			border: 1px solid #060805;
			border-radius: 50%;
			transition: all 0.4s;
		}
		&:hover {
			&::before {
				background-color: $accent;
				border-color: $accent;
			}
			&.active {
				h2 {
					color: white;
				}
			}
			h2 {
				color: #509289;
			}
		}
		&.active {
			background: $accent;
			&::before {
				background-color: white;
				border-color: white;
			}
		}
		h2 {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2.2rem;
			transition: all 0.4s;
		}
	}
}
