.cart-icon {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
  height: 5.5rem;
  color: white;
  background: $success;
  transition: all 0.4s;
  border-radius: 5rem;
  cursor: pointer;
  z-index: 10;
  @media screen and (max-width: 992px) {
    padding: 0;
    width: 5.5rem;
  }
  &:hover {
    opacity: 0.95;
  }
  &.active {
    display: flex;
  }
  &__target {
    display: flex;
    align-items: center;
  }
  &__count {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__title {
    flex: 1;
    font-size: 1.8rem;
    font-weight: 300;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
.cart-icon .cart-contents {
  position: absolute;
  bottom: 0.01rem;
  right: 0.01rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  background-color: white;
  border-radius: 50%;
  .count {
    position: relative;
    top: 1px;
  }
}
.cart-icon .widget_shopping_cart {
  position: absolute;
  top: 40px;
  left: -270px;
  display: none;
  width: 340px;
  background-color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
  @media screen and (max-width: 576px) {
    left: -206px;
  }
  @media screen and (max-width: 360px) {
    left: -160px;
    width: 300px;
  }
}
.cart-icon .woocommerce-mini-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
  @media screen and (max-width: 360px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .variation {
    display: block;
    width: 100%;
    dt,
    dd {
      font-size: 1.2rem;
      @media screen and (max-width: 360px) {
        display: inline-block;
      }
    }
    dt {
      font-weight: bold;
    }
  }
}
.cart-icon .woocommerce-mini-cart-item:nth-of-type(even) {
  background-color: #f8f8f8;
}
.cart-icon .woocommerce-mini-cart-item .remove_from_cart_button {
  margin-right: 10px;
  font-size: 18px;
  color: #b3b3b3;
  transition: all 0.2s;
}
.cart-icon .woocommerce-mini-cart-item .remove_from_cart_button:hover {
  color: #b30033;
}
.cart-icon .woocommerce-mini-cart-item .remove_from_cart_button + a {
  display: flex;
  flex: 1;
  font-size: 1.4rem;
  text-decoration: none;
  color: #414141;
}
.cart-icon .woocommerce-mini-cart-item img {
  margin-right: 10px;
  width: 40px;
  height: 56px;
}
.cart-icon .woocommerce-mini-cart-item .quantity {
  display: none;
  font-size: 10px;
  text-align: right;
}
.cart-icon .woocommerce-mini-cart__total,
.cart-icon .woocommerce-mini-cart__buttons {
  padding: 10px;
}
.cart-icon .woocommerce-mini-cart__buttons {
  display: flex;
  justify-content: space-between;
}
.cart-icon .woocommerce-mini-cart__buttons a {
  width: 47%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border: 1px solid $accent;
  background-color: $accent;
  border-radius: 4px;
  transition: all 0.2s;
}
.cart-icon .woocommerce-mini-cart__buttons a:hover {
  background-color: lighten($accent, 4%);
}
.cart-icon .woocommerce-mini-cart__buttons a:nth-of-type(2) {
  border: 1px solid $text-color;
  background-color: $text-color;
}
.cart-icon .woocommerce-mini-cart__buttons a:nth-of-type(2):hover {
  background-color: lighten($text-color, 4%);
}
.woocommerce-mini-cart__empty-message {
  padding: 1rem;
}