.taxonomy-page {
	&__wrap {
		display: flex;
		@media screen and (max-width: 576px) {
			position: relative;
			display: block;
			overflow: hidden;
		}
	}
	.sticky-wrapper {
		flex: 0 0 50.1rem;
		@media screen and (max-width: 1200px) {
			flex: initial;
			width: 30%;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__sidebar {
		padding-top: 9.1rem;
		padding-left: 0.3rem;
		flex: 0 0 50.1rem;
		@media screen and (max-width: 768px) {
			display: none;
		}
		&.active {
			left: 0;
			opacity: 1;
			.categories-list__right::after {
				transform: rotate(180deg);
			}
		}
	}
	&__content {
		padding: 16rem 0.3rem 8.3rem 6.8rem;
		flex: 1;
		@media screen and (max-width: 1200px) {
			flex: initial;
			width: 70%;
		}
		@media screen and (max-width: 768px) {
			padding: 4rem 1rem;
			width: 100%;
		}
	}
	&__title {
		margin-bottom: 4.2rem;
		font-style: normal;
		font-weight: normal;
		font-size: 3.6rem;
		color: $accent;
	}
}
.taxonomy__loop ul.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1.6rem;
	@media screen and (max-width: 576px) {
		display: block;
		margin: 0;
	}
	li.product {
		position: relative;
		flex-basis: calc(50% - 3.2rem);
		margin: 0 1.6rem 3.2rem;
		@media screen and (max-width: 576px) {
			margin: 0 0 3.2rem;
		}
		&:hover {
			.product__image {
				opacity: 0.8;
			}
			.cart {
				background-color: $accent;
			}
		}
		.woocommerce-loop-product__link {
			position: relative;
			display: block;
			z-index: 2;
		}
		.cart {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			padding: 5.5rem 0 0;
			color: white;
			background-color: #000;
			transition: all 0.4s;
			z-index: 1;
			@media screen and (max-width: 1500px) {
				padding: 8.5rem 0 0;
			}
			.add_to_cart_button {
				position: relative;
				flex: 1;
				height: 8.6rem;
				font-weight: 700;
				font-size: 1.6rem;
				line-height: 2.2rem;
				text-align: center;
				color: white;
				background-color: transparent;
				border: none;
				border-radius: 0;
				transition: all 0.4s;
				cursor: pointer;
				&:hover {
					background: $accent;
				}
			}
		}
	}
	.quantity {
		&:hover {
			background: #e5f3f1;
			.jq-number__field input[type="number"] {
				color: $text-color;
			}
			.jq-number__spin {
				color: $accent;
				&::before,
				&::after {
					background-color: $accent;
				}
			}
		}
	}
	.product__image {
		position: relative;
		height: 53.4rem;
		transition: all 0.4s;
		z-index: 1;
		@media screen and (max-width: 1500px) {
			height: 36.4rem;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 16.4%;
			height: 83%;
			// background: url('../i/static/product-right.png') no-repeat center;
			background-size: cover;
			z-index: 2;
		}
	}
	.product__footer {
		position: absolute;
		top: 44.5rem;
		left: 0;
		padding: 3.2rem;
		width: 83.5%;
		background: #e5f3f1;
		z-index: 2;
		@media screen and (max-width: 1500px) {
			top: 27.4rem;
		}
		h2 {
			position: relative;
			display: inline-block;
			margin-bottom: 3.2rem;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2.6rem;
			text-transform: uppercase;
			letter-spacing: 0.12rem;
			color: #509289;
			&::after {
				content: "";
				position: absolute;
				bottom: 0.4rem;
				left: 0;
				width: 100%;
				height: 1px;
				background: #509289;
				transition: all 0.4s;
			}
			&:hover {
				&::after {
					opacity: 0;
				}
			}
		}
		.price {
			display: block;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2.2rem;
			letter-spacing: 0.14rem;
			text-transform: uppercase;
			color: #060805;
			.woocommerce-Price-currencySymbol {
				margin-right: 0.7rem;
			}
		}
	}
}
