.woocommerce-pagination {
	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		li {
			margin-right: 0.4rem;
            a,
			span {
                display: block;
				padding: 0.8rem 1.4rem;
				font-size: 2rem;
				color: $accent;
				border: 1px solid $accent;
				transition: all 0.4s;
                &:hover {
                    color: white;
                    background-color: $accent;
                }
                &.current {
                    color: white;
                    background-color: $accent;
                }
			}
		}
	}
}
