.woocommerce-checkout .checkout__wrap {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .woocommerce-checkout .checkout__wrap {
    display: block;
  }
}
.woocommerce-checkout .checkout__item {
  margin-bottom: 80px;
  width: 47%;
}
@media screen and (max-width: 992px) {
  .woocommerce-checkout .checkout__item {
    width: 100%;
  }
}
.woocommerce-checkout h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .woocommerce-checkout h3 {
    font-size: 20px;
  }
}
.woocommerce-checkout select,
.woocommerce-checkout input,
.woocommerce-checkout textarea {
  outline: none;
}
.woocommerce-checkout select:focus,
.woocommerce-checkout input:focus,
.woocommerce-checkout textarea:focus {
  outline: 1px solid #005399;
}
.woocommerce-checkout .form-row {
  margin-bottom: 20px;
}
.woocommerce-checkout .form-row label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}
.woocommerce-checkout .form-row label .required {
  font-size: 20px;
  color: #b30033;
}
.woocommerce-checkout .form-row input {
  padding: 3px;
  height: 32px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  margin-bottom: 60px;
}
.woocommerce-checkout .woocommerce-additional-fields textarea {
  padding: 10px;
  width: 100%;
  height: 100px;
}
.woocommerce-checkout-review-order-table {
  margin-bottom: 40px;
}
.woocommerce-checkout-review-order-table thead th:first-of-type {
  text-align: left;
}
.woocommerce-checkout-review-order-table tfoot th {
  text-align: left;
}
.woocommerce-checkout-payment button[type="submit"] {
  margin-top: 30px;
  padding: 2rem 4rem;
  text-transform: uppercase;
  color: white;
  background-color: $accent;
  border: 1px solid $accent;
  transition: all .4s;
  cursor: pointer;
  &:hover {
    color: $accent;
    background-color: white;
  }
}
@media screen and (max-width: 576px) {
  .woocommerce-form__label-for-checkbox {
    font-size: 20px;
  }
}
.woocommerce-terms-and-conditions-wrapper {
  .woocommerce-form__label {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
  }
  input[type="checkbox"] {
    display: inline;
    width: auto;
    height: auto;
  }
}
.woocommerce-order-details {
  margin-top: 5rem;
}
.area-riservata {
  text-decoration: underline;
  color: $accent;
}