.woocommerce-cart-form {
	margin-bottom: 60px;
}
.variation {
	&__item {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0;
		border-bottom: 1px solid #ddd;
		@media screen and (max-width: 600px) {
			width: 150px;
		}
	}
}
.shop_table {
	width: 100%;
	border-collapse: collapse;
}
.shop_table {
	width: 100%;
	border-collapse: collapse;
}
@media screen and (max-width: 576px) {
	.shop_table.woocommerce-cart-form__contents {
		display: block;
		width: 100%;
		overflow-x: auto;
	}
}
.shop_table .woocommerce-shipping-calculator,
.shop_table .woocommerce-shipping-destination,
.shop_table .woocommerce-shipping-methods {
	margin-bottom: 10px;
}
.shop_table th,
.shop_table td {
	padding: 10px 14px;
	border: 1px solid darken($accent, 5%);
}
.shop_table th {
	font-weight: 600;
	background-color: lighten($accent, 5%);
}
.shop_table .product-thumbnail a {
	display: block;
	width: 80px;
}
.shop_table .product-name a {
	letter-spacing: 0.5px;
	color: #414141;
}
.shop_table .product-name a:hover {
	text-decoration: underline;
}
.shop_table .screen-reader-text {
	display: none;
}
.shop_table .woocommerce-cart-form__cart-item .quantity .jq-number {
	width: 90px;
	&__spin {
		&.minus {
			left: 0;
		}
		&.plus {
			right: 0;
		}
	}
}
.shop_table input[type='number']::-webkit-inner-spin-button,
.shop_table input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}
.shop_table .product-subtotal .woocommerce-Price-amount {
	font-weight: bold;
}
.cart-collaterals {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
	.cart-collaterals {
		display: block;
	}
}
.cart-collaterals .cart_totals {
	width: 50%;
}
@media screen and (max-width: 768px) {
	.cart-collaterals .cart_totals {
		width: auto;
	}
}
.cart-collaterals .cart_totals h2 {
	margin-bottom: 30px;
}
.cart-collaterals table {
	margin-bottom: 30px;
}
.cart-collaterals table th {
	text-align: left;
}
.cart-collaterals table td {
	text-align: right;
}
