.vue-form {
  max-width: 64rem;
  padding: 6.4rem;
  background: #fff;
  border-radius: 3.2rem;
  &__intro {
    margin-bottom: 3.2rem;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 576px) {
      display: block;
    }
    .vue-form__btn {
      flex: 0 0 49%;
      @media screen and (max-width: 576px) {
        margin-bottom: 1.6rem;
      }
    }
  }
  &__text {
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 300;
    text-align: center;
  }
}
